<app-navigation-bar></app-navigation-bar>


<h1>{{ product.PRODUCT_NAME }}</h1>


<form class="form-container" [formGroup]="productForm" (ngSubmit)="updateProduct()">
  <mat-form-field>
    <input  matInput type="number" placeholder="ID" formControlName="PRODUCT_ID" readonly>
  </mat-form-field>
  <mat-form-field>
    <input  matInput type="text" placeholder="Name" formControlName="PRODUCT_NAME">
  </mat-form-field>
  <mat-form-field>
    <input   matInput type="number" placeholder="Supplier ID" formControlName="SUPPLIER_ID">
  </mat-form-field>
  <mat-form-field>
    <input   matInput type="number" placeholder="Category ID" formControlName="CATEGORY_PRODUCT_ID">
  </mat-form-field>
  <mat-form-field>
    <input   matInput type="number" placeholder="Stock" formControlName="PRODUCT_STOCK">
  </mat-form-field>
  <mat-form-field>
    <input   matInput type="number" placeholder="Price" formControlName="PRODUCT_PRICE">
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="productForm.invalid"
        matTooltip="You are about to update a patient's profile"
        aria-label="Button that displays a tooltip when focused or hovered over">
  Update
</button>
