<mat-toolbar color="primary">
  <mat-toolbar-row #sidenav>
    <button mat-icon-button >
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/main/employees'"> Employees</a>
      <a mat-button [routerLink]="'/main/customers'"> Customers </a>
      <a mat-button [routerLink]="'/main/appointment'"> Appointments </a>
      <a mat-button [routerLink]="'/main/invoice'"> Invoice </a>

    </div>
  </mat-toolbar-row>
</mat-toolbar>
