<h1 mat-dialog-title>Detail</h1>
<div mat-dialog-content>
  <form class="form-container" [formGroup]="appointmentForm" (ngSubmit)="createAppointment()">
    <mat-form-field>
      <input matInput type="number" placeholder="ID" formControlName="APPOINTMENT_ID" value="{{maximo}}">
    </mat-form-field>
    <mat-form-field>
      <input  matInput type="number" placeholder="Employee" formControlName="EMPLOYEE_ID">
    </mat-form-field>
    <mat-form-field>
      <input   matInput type="number" placeholder="Patient" formControlName="PATIENT_ID">
    </mat-form-field>
    <mat-form-field>
      <input   matInput type="date" placeholder="Date" formControlName="APPOINTMENT_DATE">
    </mat-form-field>
    <button mat-raised-button color="primary"
          matTooltip="You are about to create a new patient"
          aria-label="Button that displays a tooltip when focused or hovered over">
    Create
  </button>
  </form>
</div>
