<h1 mat-dialog-title>Detail</h1>
<div mat-dialog-content>
  <form class="form-container" [formGroup]="patientForm" (ngSubmit)="updatePat(this.data)">
    <mat-form-field>
      <input  matInput type="number" placeholder="ID" formControlName="PATIENT_ID" readonly>
    </mat-form-field>
    <mat-form-field>
      <input  matInput type="text" placeholder="Name" formControlName="PATIENT_NAME">
    </mat-form-field>
    <mat-form-field>
      <input   matInput type="text" placeholder="Surname" formControlName="PATIENT_SURNAME">
    </mat-form-field>
    <mat-form-field>
      <input   matInput type="tel" placeholder="Phone" formControlName="PATIENT_PHONE">
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="patientForm.invalid"
          matTooltip="You are about to update a patient's profile"
          aria-label="Button that displays a tooltip when focused or hovered over">
    Update
  </button>
  </form>
</div>




