
<h1>Introduce data to create a new patient</h1>
<form class="form-container" [formGroup]="patientForm" (ngSubmit)="createPat()">
  <!-- <mat-form-field>
    <input matInput type="number" placeholder="ID" formControlName="PATIENT_ID">
  </mat-form-field> -->
  <mat-form-field>
    <input matInput type="text" placeholder="Name" formControlName="PATIENT_NAME">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Surname" formControlName="PATIENT_SURNAME">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="tel" placeholder="Phone" formControlName="PATIENT_PHONE">
  </mat-form-field>
  <button mat-stroked-button color="warn" type="submit" >Create Patient</button>
</form>
