.header {
  padding: 20px;
  text-align: center;
  background: #3f51b5;
  color: white;
  font-size: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
  top: 0;
  margin:0;

}
